﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar">
        <div class="container">
            <a href="/Home/Index">@PhoneBook.Properties.Resources.PhoneBook</a>
            <a href="/Home/AddPerson" class="littlelink">@PhoneBook.Properties.Resources.AddPerson</a>
            <form method="post" action="~/Home/SearchResult">
                <input type="text" placeholder="Поиск" name="searchText" /><input type="submit" value="OK" />
            </form>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – Валерий Минкин</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
