﻿@model PhoneBook.Models.Person

@{
    ViewBag.Title = PhoneBook.Properties.Resources.AddPerson;
    List<string> arr = new List<string>();
    arr.Add(PhoneBook.Properties.Resources.Empty);
    for(int i=DateTime.Now.Year; i> DateTime.Now.Year-130; i--)
    {
        arr.Add(i.ToString());
    }
}

<h2>@PhoneBook.Properties.Resources.AddPerson</h2>

@using (Html.BeginForm("AddPerson", "Home", FormMethod.Post))
{
    <div>
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name)
    </div>
    <div>
        @Html.LabelFor(x => x.Surname)
        @Html.TextBoxFor(x => x.Surname)
    </div>
    <div>
        @Html.LabelFor(x => x.PhoneNumber)
        @Html.TextBoxFor(x => x.PhoneNumber, new { @required = "required" })
    </div>
    <div>
        @Html.LabelFor(x => x.BirthYear)
        @Html.DropDownListFor(x => x.BirthYear, new SelectList(arr.ToArray()))
    </div>
    <input type="submit" value="@PhoneBook.Properties.Resources.Add" />
}