﻿@model List<PhoneBook.Models.Person>
@{
    ViewBag.Title = PhoneBook.Properties.Resources.PhoneBook;
}

<label id="SortBy">@PhoneBook.Properties.Resources.SortBy <a href="/Home/Index?SortBy=Surname">@PhoneBook.Properties.Resources.BySurname</a><a href="/Home/Index?SortBy=BirthDate">@PhoneBook.Properties.Resources.ByBirthDate</a></label>

<div class="PhoneBookTable">
    <div class="Person">
        <div class="field">@PhoneBook.Properties.Resources.Name</div>
        <div class="field">@PhoneBook.Properties.Resources.Surname</div>
        <div class="field">@PhoneBook.Properties.Resources.BirthYear</div>
        <div class="field">@PhoneBook.Properties.Resources.PhoneNumber</div>
        <div class="field"></div>
    </div>
    @{
        for (int i = 0; i < Model.Count; i++)
        {
            <div class="Person">
                <div class="field">@Model[i].Name</div>
                <div class="field">@Model[i].Surname</div>
                <div class="field"> @{if (Model[i].BirthYear != 0) { @Html.Raw(Model[i].BirthYear.ToString()); } else { @Html.Raw(PhoneBook.Properties.Resources.Empty); } }</div>  
                <div class="field">@Model[i].PhoneNumber</div>
                <div class="field"><a href="/Home/DeletePerson?personNumber=@Model[i].PhoneNumber">@PhoneBook.Properties.Resources.Delete</a></div>
            </div>
        }
    } 
</div>