﻿
@{
    ViewBag.Title = PhoneBook.Properties.Resources.SearchResult;
}

<h2>@PhoneBook.Properties.Resources.SearchResult</h2>
<h3>@PhoneBook.Properties.Resources.SearchByName</h3>

<div class="PhoneBookTable">
    <div class="Person">
        <div class="field">@PhoneBook.Properties.Resources.Name</div>
        <div class="field">@PhoneBook.Properties.Resources.Surname</div>
        <div class="field">@PhoneBook.Properties.Resources.BirthYear</div>
        <div class="field">@PhoneBook.Properties.Resources.PhoneNumber</div>
        <div class="field"></div>
    </div>
    @{
        for (int i = 0; i < ViewBag.SearchByName.Count; i++)
        {
            <div class="Person">
                <div class="field">@ViewBag.SearchByName[i].Name</div>
                <div class="field">@ViewBag.SearchByName[i].Surname</div>
                <div class="field"> @{if (ViewBag.SearchByName[i].BirthYear != 0)
                    { @Html.Raw(ViewBag.SearchByName[i].BirthYear.ToString());
                    }
                    else
                    { @Html.Raw(PhoneBook.Properties.Resources.Empty);
                    } }</div>
                <div class="field">@ViewBag.SearchByName[i].PhoneNumber</div>
                <div class="field"><a href="/Home/DeletePerson?personNumber=@ViewBag.SearchByName[i].PhoneNumber">@PhoneBook.Properties.Resources.Delete</a></div>
            </div>
                    }
    }
</div>

<h3>@PhoneBook.Properties.Resources.SearchBySurname</h3>

<div class="PhoneBookTable">
    <div class="Person">
        <div class="field">@PhoneBook.Properties.Resources.Name</div>
        <div class="field">@PhoneBook.Properties.Resources.Surname</div>
        <div class="field">@PhoneBook.Properties.Resources.BirthYear</div>
        <div class="field">@PhoneBook.Properties.Resources.PhoneNumber</div>
        <div class="field"></div>
    </div>
    @{
        for (int i = 0; i < ViewBag.SearchBySurname.Count; i++)
        {
            <div class="Person">
                <div class="field">@ViewBag.SearchBySurname[i].Name</div>
                <div class="field">@ViewBag.SearchBySurname[i].Surname</div>
                <div class="field">
                    @{if (ViewBag.SearchBySurname[i].BirthYear != 0)
                        { @Html.Raw(ViewBag.SearchBySurname[i].BirthYear.ToString());
                        }
                        else
                        { @Html.Raw(PhoneBook.Properties.Resources.Empty);
                        } }
                </div>
                <div class="field">@ViewBag.SearchBySurname[i].PhoneNumber</div>
                <div class="field"><a href="/Home/DeletePerson?personNumber=@ViewBag.SearchBySurname[i].PhoneNumber">@PhoneBook.Properties.Resources.Delete</a></div>
            </div>
                        }
    }
</div>

<h3>@PhoneBook.Properties.Resources.SearchByNumber</h3>

<div class="PhoneBookTable">
    <div class="Person">
        <div class="field">@PhoneBook.Properties.Resources.Name</div>
        <div class="field">@PhoneBook.Properties.Resources.Surname</div>
        <div class="field">@PhoneBook.Properties.Resources.BirthYear</div>
        <div class="field">@PhoneBook.Properties.Resources.PhoneNumber</div>
        <div class="field"></div>
    </div>
    @{
        for (int i = 0; i < ViewBag.SearchByNumber.Count; i++)
        {
            <div class="Person">
                <div class="field">@ViewBag.SearchByNumber[i].Name</div>
                <div class="field">@ViewBag.SearchByNumber[i].Surname</div>
                <div class="field">
                    @{if (ViewBag.SearchByNumber[i].BirthYear != 0)
                        { @Html.Raw(ViewBag.SearchByNumber[i].BirthYear.ToString());
                        }
                        else
                        { @Html.Raw(PhoneBook.Properties.Resources.Empty);
                        } }
                </div>
                <div class="field">@ViewBag.SearchByNumber[i].PhoneNumber</div>
                <div class="field"><a href="/Home/DeletePerson?personNumber=@ViewBag.SearchByNumber[i].PhoneNumber">@PhoneBook.Properties.Resources.Delete</a></div>
            </div>
                        }
    }
</div>