﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #547A7A;
    border-radius: 0;
    border-bottom: 3px solid #495C63;
}

    .navbar .container {
        line-height:60px;
        font-size:40px;
        color: white;
    }

    .navbar form{
        display: inline-block !important;
        float:right;
    }

    .navbar form input{
        display: inline-block !important;
        font-size:15px;
        width:100px;
        min-width:150px !important;
        margin:0 !important;
        box-sizing:border-box;
    }
        .navbar form input[type=submit] {
            width: 50px;
            min-width: 50px !important;
            height:34px !important;
        }

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

    form div {
        margin: 10px 0;
    }

    form input[type=submit] {
        margin: 20px 0 10px 0 !important;
    }

    form input {
        display: block;
        min-width: 300px;
        width: 40%;
        box-shadow:none;
        border:1px solid #ccc;
        line-height:30px;
    }

    form select {
        display: block;
        min-width: 300px;
        width: 40%;
        box-shadow: none;
        border: 1px solid #ccc;
        height: 30px;
    }

.Person {
    height: 40px;
}

.field {
    display: inline-block;
    width: 19%;
    line-height: 40px;
    padding: 0 10px;
    margin: 0;
}

.field:last-child{
    text-align:right;
}

.PhoneBookTable .Person:nth-child(2n+1) {
    background-color: #F2EAC7;
}

.PhoneBookTable .Person:nth-child(1) {
    background-color: #547A7A;
    color:white;
    font-weight:700;
    margin-top:20px;
}

.navbar a {
    color: white;
    font-weight: 100;
    font-family: Courier, monospace;
}

.littlelink {
    font-size: 20px;
    margin:0 20px;
}

#SortBy{
    display:block;
    margin:20px auto 0 auto;
}

    #SortBy a {
        margin: 0 10px;
        color: #547A7A;
    }